<section class="container">
  <ng-container *ngIf="!isCompleteBefore; else thanksText">
    <article class="container__list">
      <app-card [@flyInOut]="'in'"
                *ngFor="let card of cards;
                let i = index;
                trackBy: trackById"
                [title]="card.title"
                [body]="card.body"
                [price]="card.price"
                (click)="select(i, card)">
      </app-card>
    </article>
  </ng-container>
  <ng-template #thanksText>
    <img class="thanks-illustration" src="assets/thank-you.svg" alt="">
  </ng-template>
</section>
