/* You can add global styles to this file, and also import other style files */
@import "assets/reset";

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-form-field > label {
  font-size: 18px;
}
